#container {
    margin-top:2%;
    width:80%;
    margin-left:10%;
    padding-top:20px;
    border: ridge 2px navy;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

#msg input{
    width:15%;
}

textarea{
    width:90%;
    margin-left:5%;
    resize: none !important;
}

.showMsg{
    border:navy 2px groove;
    width:80%;
    margin:5% 10%;
    box-shadow: gray 1px 2px;
}

.showCmt{
    border: greenyellow .5px ridge;
    width:70%;
    margin:2% 28%;
    padding:1%;
    box-shadow: gray 1px 2px;
}

hr{
    border:.5px solid black !important;
}